<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container blue-text">
    © 2014 Copyright Text
    <a class="blue-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>