<nav class="white">
  <div class="nav-wrapper">
    <div class="brand-logo center">
      <i class="material-icons blue-text">flight_takeoff</i>
      <%= link_to 'Flight Booker', root_url, class: 'blue-text' %>
      <i class="material-icons blue-text">flight_land</i>
    </div>
  </div>
</nav>