<nav class="light-blue lighten-3">
  <div class="nav-wrapper">
    <div class="brand-logo center">
      <i class="material-icons">flight_takeoff</i>
      <%= link_to 'Flight Booker', root_url %>
      <i class="material-icons">flight_land</i>
    </div>
  </div>
</nav>